<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.az.dlxj.system.dao.CircuitryDao">

    <select id="allCircuitry" resultType="com.az.dlxj.system.domain.Circuitry">
        select * from circuitry
    </select>
    <select id="CircuitryByPole" resultType="com.az.dlxj.system.domain.CircuitryPole">
        SELECT * FROM circuitry_pole WHERE cid = #{id}
    </select>
    <select id="poleById" resultType="com.az.dlxj.system.domain.Pole">
        SELECT * FROM Pole WHERE id = #{id}
    </select>

</mapper>