<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.az.dlxj.system.dao.RoleDODao">
    <select id="getAll" resultType="com.az.dlxj.system.shiro.bean.RoleDO">
        select * from sys_role;
    </select>

    <select id="getRoleStrByUserId" resultType="string">
        SELECT DISTINCT r.name FROM `sys_role` r
            LEFT JOIN `sys_user_role` ur ON ur.`user_id` = r.id
            WHERE ur.`user_id`=#{id}
    </select>

</mapper>