<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.az.dlxj.system.dao.UserDao">
    <select id="getUserByUserName" resultType="com.az.dlxj.system.domain.User">
        select * from user where username=#{userName};
    </select>

    <select id="list" resultType="com.az.dlxj.system.domain.User">
        SELECT u.*,r.id 'rid' FROM `user` u
            LEFT JOIN `sys_user_role` ur ON u.`id`=ur.`user_id`
            LEFT JOIN `sys_role` r ON r.`id` = ur.`role_id`
            <where>
                <if test="rid != null">AND ur.`role_id`=#{rid}</if>
                <if test="username != null and username != ''">AND username LIKE CONCAT('%',#{username},'%')</if>
            </where>
            ORDER BY u.`joindate` DESC
    </select>
    <select id="get" resultType="com.az.dlxj.system.domain.User">
       SELECT u.*,r.id 'rid' FROM `user` u
            LEFT JOIN `sys_user_role` ur ON u.`id`=ur.`user_id`
            LEFT JOIN `sys_role` r ON r.`id` = ur.`role_id`
            where u.id = #{id}
    </select>

    <select id="count" resultType="com.az.dlxj.system.domain.User">
       SELECT COUNT(1) FROM `user` u
            LEFT JOIN `sys_user_role` ur ON u.`id`=ur.`user_id`
        <where>
            <if test="rid != null">AND ur.`role_id`=#{rid}</if>
            <if test="username != null and username != ''">AND username LIKE CONCAT('%',#{username},'%')</if>
        </where>
    </select>

    <delete id="remove">
		delete from user where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from user where id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>


    <insert id="">

    </insert>


</mapper>